/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --light: #f2f1f2;
  --light-gray: #c0c0c0;
  --dark-gray: #767776;
  --dark-light-gray: #b3b3b3;
  --dark: #101010;
  --emphasis:rgb(17, 167, 142);
  --orange: #ffa500;
  --dark-orange: #e59500;
}
body {
  background-color: var(--emphasis);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container .modal-message {
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 10px;
}

.modal-container .modal-message .message {
  margin-top: 0;
}

.modal-container .modal-button button {
  padding: 10px;
  width: 130px;
  height: 40px;
  border: none;
  background-color: var(--light-gray);
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}


.modal-container .modal-button button:last-child {
  margin-right: 0;
}

.modal-container .modal-button .yes {
  background-color: var(--orange);
  color: var(--white);
}

.modal-container .modal-button .yes:hover {
  background-color: var(--dark-orange);
  transform: scale(1.1);
}

.modal-container .modal-button .no:hover {
  background-color: var(--dark-light-gray);
  transform: scale(1.1);
}

.modal-background {
  background: rgba(0, 0, 0, 0.36);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 0.1s all ease-in;
  z-index: -1;
  opacity: 0;
}

/* responsive settings */

@media (max-width: 767px) {
  .modal-container {
    max-width: 90%;
  }
  .modal-container h2 {
    font-size: 30px;
  }
  .modal-button {
    display: flex;
  }
  .modal-container .modal-button button {
    font-size: 0.8rem;
  }
}

/* descartável */

.btn-modal {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #db2f5a;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.47);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  transition: 0.3s;
  z-index: 200;
  cursor: pointer;
}

.btn-modal:hover {
  background-color: #b51b42;
  border: 4px solid rgba(255, 255, 255, 0.56);
}

.modal-background.show--modal {
  opacity: 1;
  z-index: 100;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  margin: 20px auto 10px;
  color:var(--white);
}

.header__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color:var(--white);
  margin-botton: 20px;
}

.main {
  margin-top: 30px;
  background-color: var(--white);
  border-radius:6px; 
  width: 300px;
}

.tasks {
  padding: 20px;
}

.delete-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.add-task-btn {
  all: unset;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 20px;
}

.task__list {
  list-style-type: none;
  font-size: 12px;

}

.tasks .task-label { 
  font-weight: 600; 
}

.task__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  position: relative;
}

.checkBox {
  flex-shrink: 0;
}

.task-btn {
  font-family:  "Poppins", sans-serif;
  color: var(--dark-gray);
  font-weight: 800;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
  padding: 15px;
  margin: 0;
  border-radius: 0 0 6px 6px;
}

.footer__input {
  all: unset;
  padding: 0;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: var(--emphasis);
}

.delete-btn-footer { 
  all: unset;
  cursor: pointer;
}